{% extends "base.html" %}
{% set active_page = "about" %}

{% block title %} AM | About{% endblock %}

{% block content %} 
	<div>
		<div class="jumbatron header">
			<h1>About AAA</h1>
			<!-- <img class="centered img-responsive"src="http://loremflickr.com/1280/360/gardening"> -->
			<div class="quote_cont">
				<p class="quote">"The begninning is the most important part of the work."</p>
				<p class="quote_name">Plato</p>		
			</div>
			
		</div>
		
		

		<div class="row wtf">
			<div class="col-lg-12">
				<h2>WTF?</h2>
			  	<p>Adam's Aquaponic Automaton is currently housed in a waradobe sized shed. Whilst studying Web Development at Uni I began reading about cybernetics. Familiar with the concept of the feedback loop I wanted to use this to control an environment with a Raspberry Pi and Arduino. In my research I had come across <span class="emphasis">Aquaponics</span> and since then I have been hooked.</p>

			  	
			</div>
			
		  	<div class="row">
			<div class="col-lg-12">
				<img class="about1 center-block" src="{{ url_for('static', filename='feedback.png') }}">
			</div>
		</div>

		</div>

		<div class="row wtf">
		
		

		<div class="col-lg-12 centered">
			<h2>Still none the wiser?</h2>
		  	<p>Aquaponics is a Closed Looped system that utilises naturally occuring processes to grow both plants and fish. By feeding the fish they produce waste (Ammonia). Bacteria break this down into Nitrates that goes on to provide nutrients for the plants. For those of you who have done some GCSE biology you might remember the nitrogen cycle.</p>

		</div>

		<div class="col-lg-12 centered">
		  	<img class="about2" src="{{ url_for('static', filename='nitrogen.jpg') }}">
		 </div>

		
		
	</div>
{% endblock %}