{% extends "bootstrap/base.html" %}
{% block title %} AM | Home{% endblock %}

{% block style %} 
	 <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">AM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/events">Events</a></li>
        
      </ul>
      
   
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock%}

{% block content %} 
	<div>
		<h1>Home Page</h1>
		<div id="map-canvas"></div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
	<script>
		var map;
		var infoWindow;
		var service;

		function initialize() {
		  map = new google.maps.Map(document.getElementById('map-canvas'), {
		    center: new google.maps.LatLng(-33.8668283734, 151.2064891821),
		    zoom: 15,
		    styles: [
		      {
		        stylers: [
		          { visibility: 'simplified' }
		        ]
		      },
		      {
		        elementType: 'labels',
		        stylers: [
		          { visibility: 'off' }
		        ]
		      }
		    ]
		  });

		  infoWindow = new google.maps.InfoWindow();
		  service = new google.maps.places.PlacesService(map);

		  google.maps.event.addListenerOnce(map, 'bounds_changed', performSearch);
		}

		function performSearch() {
		  var request = {
		    bounds: map.getBounds(),
		    keyword: 'best view'
		  };
		  service.radarSearch(request, callback);
		}

		function callback(results, status) {
		  if (status != google.maps.places.PlacesServiceStatus.OK) {
		    alert(status);
		    return;
		  }
		  for (var i = 0, result; result = results[i]; i++) {
		    createMarker(result);
		  }
		}

		function createMarker(place) {
		  var marker = new google.maps.Marker({
		    map: map,
		    position: place.geometry.location,
		    icon: {
		      // Star
		      path: 'M 0,-24 6,-7 24,-7 10,4 15,21 0,11 -15,21 -10,4 -24,-7 -6,-7 z',
		      fillColor: '#ffff00',
		      fillOpacity: 1,
		      scale: 1/4,
		      strokeColor: '#bd8d2c',
		      strokeWeight: 1
		    }
		  });

		  google.maps.event.addListener(marker, 'click', function() {
		    service.getDetails(place, function(result, status) {
		      if (status != google.maps.places.PlacesServiceStatus.OK) {
		        alert(status);
		        return;
		      }
		      infoWindow.setContent(result.name);
		      infoWindow.open(map, marker);
		    });
		  });
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

{% endblock %}