{% extends "base.html" %}
{% set active_page = "graphs" %}

{% block head %}
{{super()}}
{% endblock %}

{% block content %}
        <div>

                <h1>Presentation</h1>
		<iframe src="https://docs.google.com/presentation/d/1m4ztRI_AzdAcXsGgORX-3SdugXxjocIRPQQsug_XFdE/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>

	<div>
		<img src={{url_for('static', filename='image.jpg')}}>
	</div>
	<div>
		<h2>I'm in 3D</h2>
		<iframe width="640" height="480" src="https://sketchfab.com/models/627bb03033bb42168329ca9a1102f63a/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
    <a href="https://sketchfab.com/models/627bb03033bb42168329ca9a1102f63a?utm_source=oembed&utm_medium=embed&utm_campaign=627bb03033bb42168329ca9a1102f63a" target="_blank" style="font-weight: bold; color: #1CAAD9;">AdamF</a>
    by <a href="https://sketchfab.com/kirberich?utm_source=oembed&utm_medium=embed&utm_campaign=627bb03033bb42168329ca9a1102f63a" target="_blank" style="font-weight: bold; color: #1CAAD9;">kirberich</a>
    on <a href="https://sketchfab.com?utm_source=oembed&utm_medium=embed&utm_campaign=627bb03033bb42168329ca9a1102f63a" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
</p>
	</div>
{% endblock %}
